    <!-- JS -->
    <script src="{{ site.url }}/assets/js/jquery-1.12.0.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.dlmenu.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.goup.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.fitvid.min.js"></script>
    <script src="{{ site.url }}/assets/js/scripts.js"></script>
    <script src="https://kit.fontawesome.com/c25b036b35.js" crossorigin="anonymous"></script>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v10.0"
      nonce="P38jLgaE"></script>
    {% if site.google.analytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VQ2GE0789S"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', '{{ site.google.analytics }}');
    </script>
    {% endif %}
    {% if page.comments != false %}
        {% include disqus_comments.html %}
    {% endif %}
